BasedOnStyle: LLVM
# BreakBeforeBraces: Linux
ColumnLimit: 100
NamespaceIndentation: All
AlwaysBreakTemplateDeclarations: Yes
SpacesInBracedLists: true

# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterFunction: true

# AllowShortIfStatementsOnASingleLine: true
# AllowShortLoopsOnASingleLine: true
# AllowShortBlocksOnASingleLine: true
